* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
	color: #0a0a0b;
}

.sf-nav-button:focus {
	outline: none;
}

.form-control:focus {
        border-color: #0a0a0b;
        box-shadow: none;
    } 

.btn:focus {
	box-shadow: none;
}

/*nav*/
.sf-navbar-brand {
	color: #0a0a0b;
}

.sf-navbar-brand:hover {
	color: #0a0a0b;
}

.sf-nav-menu {
	padding: 20px;
}


.sf-line1, .sf-line2, .sf-line3 {
	width: 23px;
	height: 3px;
	margin: 5px;
	transition: all .4s;
}

.change .sf-line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .sf-line2 {
  opacity: 0;
}

.change .sf-line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
  padding: 5px 30px;
  transition: all .3s;
  /*background: rgba(255, 255, 255, 0.8);*/
}


.sf-nav-link {
	font-size: 14px;
	color: #0a0a0b;
	font-weight: 500;
}

.sf-nav-link:hover {
	color: #0a0a0b;	
}





/*banner*/

.carousel-item {
  height: 600px;
}

.carousel-image-1 {
  background: linear-gradient(177deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5861695019804797) 100%), url('../images/banner-image.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: linear-gradient(177deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5861695019804797) 100%), url('../images/banner-image2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: linear-gradient(177deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5861695019804797) 100%), url('../images/banner-image3.jpg');
  background-size: cover;
}



.sf-display1 {
	font-size: 10vw;
}

.sf-input {
	border-radius: 0;
	padding: 1.5rem;
}



.sf-text-black {
	color: #0a0a0b;
}

.sf-btn-black {
	padding: 1rem;
	background-color: #0a0a0b;
	border: 2px solid #0a0a0b;
	color: #FFFFFF;
	display: block;
	width: 100%;
}

.sf-btn-black:hover {
	background-color: #FFFFFF;
	color: #0a0a0b;
}

.sf-btn-white {
	padding: 1rem;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	text-decoration: none;
  	text-transform: uppercase;
}
.sf-btn-white:hover {
	background-color: #FFFFFF;
	color: #0a0a0b;
	text-decoration: none;
}

/*about page*/
#about {
	margin-top: 150px;
}


/*gallery*/
.gallery {
	margin-top: 150px; 
}

.gallery .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sf-btn-filter {
	border-radius: 0;
  	padding: 5px 20px;
  	background-color: #0a0a0b !important;
  	color: #ffffff !important;
}

.sf-modal-content {
	border-radius: 0;
	border: 0; 
}

.sf-modal-header {
	border: 0;
}

.sf-divider {
	margin-top: -4rem;
}
.sf-tab {
	text-decoration: none;
	color: #D6D6D6; 

}

.sf-tab:hover {
	text-decoration: none;
	color: #0a0a0b;

}

.sf-current {
	color: #0a0a0b;
}
/*footer*/

.sf-btnSubmit {
	padding: .7rem;
	background-color: #FFFFFF;
	border: 1px solid #ced4da;
	border-left: 0;
	color: black;
}

.sf-icon{
	color: #0a0a0b;
	transition: transform .2s;
}

.sf-icon:hover {
	transform: scale(1.5); 
}


/*events*/
#events {
	margin-top: 150px;
}

.sf-span-date {
	margin-bottom: -8px;
}


/*gallery > artist page*/
.sf-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
}


.sf-aName {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.sf-overlay:hover {
  opacity: 1;
}

.sf-aName:hover {
  text-decoration: none;
  color: #FFFFFF;
}

